body {
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

#heading {
    color: rgb(15, 238, 111);
    font-family: 'Orbitron', sans-serif;
    border: 2px solid rgb(15, 238, 111);
    padding: 10px;
    animation: blinkGlow 2s infinite ease-in-out;
    font-size: 60px;
    background-color: black;
}
@keyframes blinkGlow {
  0%, 100% {
    box-shadow: 0 0 10px rgb(47, 255, 81), 0 0 10px rgb(47, 255, 81);
    text-shadow: 0 0 10px rgb(47, 255, 81), 0 0 20px rgb(47, 255, 81);
  }
  50% {
    box-shadow: none;
    text-shadow: none;
  }
}


.start_button {
    background-color: aquamarine;
    border: 4px ridge rgb(73, 191, 117);
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    color: black;
    display: block;
    cursor: pointer;
    transition: transform 0.2s;
}

.start_button:hover {
    transform: scale(1.05);
}

#top {
    display: flex;
    justify-content: center;
}

.boxes {
    color: white;
    border: 4px ridge aquamarine ;
    border-radius: 20%;
    background-color: black;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

#cols {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#start_ind {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    height: 200px;
    align-items: center;
    width: 300px;
    border: 4px ridge aquamarine;
    border-radius: 20%;
}

.box_heads{
    text-transform: uppercase;
     font-family: 'Orbitron', sans-serif;
     color: rgb(69, 215, 166);
     font-weight: 600;
     display: block;
}

#topic_section {
    width: 500px;
    margin: 10px auto; 
    padding: 30px;
    border: 4px ridge aquamarine;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: white;
    height: 500px;
}

.radio-group {
    margin: 20px 0;
    text-align: left;
}

.radio-group label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.question {
      display: none;
    }
.question.active {
      display: block;
    }

.next_button{
    background-color: aquamarine;
    border: 4px ridge rgb(73, 191, 117);
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    display: block;
    margin:20px auto;
}

#anime{
    background-image: url(anime.jpg);
    background-size:cover;
}
.result{
    background-color: black;
    border: 4px ridge aquamarine;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    font-size: 20px;
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    padding-top: 40px;
} 
#choose{
    color: aquamarine;
    text-decoration: none;

}
#choose:hover{
    color: rgba(19, 189, 113, 0.838);
    text-decoration: underline;

}
#play_again{
    margin: 5px auto;
}
#submitquiz{
    margin: 20px auto;
}
.radio-group p {
  margin-bottom: 20px;
}
#gk{
    background-image: url(gk.avif);
    background-size:cover;
}
#science{
    background-image: url(science.webp);
    background-size: contain;
}
#social{
    background-image: url(pxfuel.jpg);
    background-size: cover;
}